.logo__text {
  font-size: 30px;
  font-weight: 900;
  color: #303030; }
  .logo__text:after {
    content: ".";
    color: #39a38f; }

.navigation {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 65px; }

.nav_link, .menu__item {
  color: #c0c0c0; }
  .nav_link:hover, .menu__item:hover {
    color: #000; }

.social_links {
  width: 100px; }

.menu.menu_active {
  background-color: #fff;
  text-transform: uppercase;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding-top: 64px;
  display: none;
  -webkit-box-shadow: 0 3px 6px black, 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px black, 0 3px 6px rgba(0, 0, 0, 0.23); }

.menu.menu_active {
  display: block; }

.menu {
  width: 474px;
  position: relative; }
  .menu__hamburger {
    width: 25px;
    height: 18px;
    position: relative;
    display: none;
    z-index: 9999; }
  .menu__hamburger__item {
    height: 4px;
    background: #39a38f;
    width: 25px;
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    position: absolute; }
  .menu__hamburger__item:nth-child(1) {
    top: 0px; }
  .menu__hamburger__item:nth-child(2) {
    top: 7px; }
  .menu__hamburger__item:nth-child(3) {
    top: 14px; }
  .menu__hamburger.active {
    right: 70px;
    position: fixed;
    top: 25px;
    right: 200px; }

.menu.menu_active .navigation__item {
  border-bottom: 1px solid #39a38f; }

.menu.menu_active .navigation__item:first-child {
  border-top: 1px solid #39a38f; }

.menu.menu_active .menu__item {
  color: #39a38f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px; }
  .menu.menu_active .menu__item:hover {
    color: #fff;
    background: #39a38f; }

.menu__hamburger.active .menu__hamburger__item:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(10px);
      -ms-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px); }

.menu__hamburger.active .menu__hamburger__item:nth-child(2) {
  opacity: 0;
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1); }

.menu__hamburger.active .menu__hamburger__item:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px);
      -ms-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px); }

@media screen and (max-width: 768px) {
  .menu__hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
